{% extends "base.html" %}

{% block content %}
<div class="clients-content" >

    <h1 class="page-title">Оформить выдачу</h1>
      <form class="clients-form" action="{{ url_for('add_extradition') }}" method="post">
        <div>
        {% for w in workers %}
          <input class="client-checkbox" type="radio" id="worker"
                 name="worker" value="{{ w[0] }}">
                {{ w[0] }}
                {{ w[2] }}
                {{ w[3] }}
                {{ w[4] }}
                {{ w[5] }}
                {{ w[6] }}%

          <br>
        {% endfor %}
        </div>

        <div>
        {% for c in clothes %}
          <input class="client-checkbox" type="checkbox" id="clothe"
                 name="clothe" value="{{ c[0] }}">
            {{ c[1] }}
            {{ c[3] }}руб.
          <br>
        {% endfor %}
        </div>

        <div class="label-info">
          Дата выдачи
        </div>
        <input class="clients-input" type="date" id="date_for_extradition" name="date">

        <div class="label-info">
          Код состоит: код сотрудника - последнии цифры года
        </div>
        <input class="clients-input" placeholder="Код получения" name="code_receiving">


        <input class="clients-input-button" type="submit" value="Добавить выдачу">
      </form>

</div>
{% endblock %}

