{% extends "base.html" %}

{% block content %}
<div class="clients-content" >

    <h1 class="page-title">Добавить работника</h1>

    <form class="clients-form" action="{{ url_for('add_worker') }}" method="post" autocomplete="off">
            <div>
            {% for s in shops %}
                <input class="client-checkbox" type="radio" id="shops"
                    name="shop" value="{{ s[0] }}">{{ s[1] }}<br>
            {% endfor %}
            </div>
        <input class="clients-input" name="worker_code" placeholder="Код работника" required>
        <input class="clients-input" name="surname" placeholder="Фамилия" required>
        <input class="clients-input" name="name" placeholder="Имя" required>
        <input class="clients-input" name="patronomic" placeholder="Отчество">
        <input class="clients-input" name="role" placeholder="Должность" required>
        <input class="clients-input" name="sale" placeholder="Скидка" required>

        <input class="clients-input-button" type="submit" value="Добавить работника">
    </form>

</div>
{% endblock %}